{{ define "title" }}  <title>{{ .Title | lower }}: {{ .Paginator.PageNumber }}ページ目 - {{ .Site.Title }}</title>{{ end }}

{{ define "main" }}

<h1 class="title">{{ .Title | lower }}: {{ .Paginator.PageNumber }}ページ目</h1>

{{ $tag := .Name -}}
{{ $posts := where .Site.RegularPages "Params.tags" "intersect" (slice $tag) -}}
<div class="small">{{ lower .Title }}: 全 {{ len $posts }} 件</div>

<ul class="list-none p0">
{{ range (.Paginator).Pages -}}
	<li><span class="date">{{ dateFormat "2006-01-02" .PublishDate }}</span> <a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end -}}
</ul>

<p class="meta">{{ .Paginator.PageNumber }}ページ目 / 全{{ .Paginator.TotalPages }}ページ</p>

	{{ partial "pagination.html" . }}

{{ end }}
